.frmHidden {
    opacity: 0;
    transform: scaleX(0);
    transition: transform 300ms ease-in, opacity 200ms ease-in;
    will-change: transform, opacity;
}

.frmShow {
    opacity: 1;
    transform: scaleX(1);
}
