<div><h4>New Employer</h4>
    {{diagnostic}}
    <form>
        <div style="width:40%; float: left;">
        <div class="form-group">
            <label for="name">Employer Name:</label><br><input #name type="text" id="name">
        </div>
            <div class="form-group"><h4>Address</h4><br>
                <label for="street">Street:</label><br><input id="street" type="text"><br>
                <label for="suburb">Suburb:</label><br><input id="suburb" type="text">
                <label for="postcode">Postcode:</label><br><input type="number" id="postcode">

            </div>
        <div class="form-group">
            <label for="contactPersonName">Contact's Name:</label><br><input type="text" id="contactPersonName">
            <label for="contactPersonNotes">Contact Notes:</label><br><input type="text" id="contactPersonNotes">
        </div>
        </div>
        <div style="width:40%; float: left;">
        <div class="form-group">
            <label for="phoneNumber">Phone Number:</label><br><input type="text" id="phoneNumber">
            <label for="dontContact">Has the employer asked to not be contacted?</label><input type="checkbox"
                                                                                               id="dontContact">
        </div>
            <div class="form-group">
                <label>Roles within {{name.value}}</label>
                <button class="btn btn-default" (click)="addRole()">Add</button>
                <br>

                <span *ngFor="let boolean of roles"><input type="text" maxlength="40"><br></span>
        </div>
            <div class="form-group">
                <label>Accessible by Public </label><input type="radio" name="pubT" value="Yes">Yes<input type="radio"
                                                                                                          name="pubT"
                                                                                                          value="No">No
                <br>
                <label>Wage Sub Facts Sheet Provided </label><input type="radio" name="pubT" value="Yes">Yes<input
                    type="radio" name="pubT" value="No">No
                <input type="submit">
            </div>
        </div>
    </form>

</div>