.frmHidden {
    opacity: 0;
    transform: scaleY(0);
    transition: transform 600ms ease-in, opacity 700ms ease-in;
    will-change: transform, opacity;
}

.frmShow {
    opacity: 1;
    transform: scaleX(1);
}
