<a id="anchor{{employer._id}}" style="color: black" data-toggle="collapse"

   href="#showContent{{employer._id}}">
    <li class="list-group-item container-fluid" *ngIf="deleting">
        Deleting...
    </li>


    <div *ngIf="deleting" class="progress">
        <div class="progress-bar progress-bar-danger progress-bar-striped" role="progressbar" aria-valuenow="80"
             aria-valuemin="0" aria-valuemax="100" [style.width]=deletePercent>
            <span class="sr-only"></span>
        </div>
    </div>

    <li class="list-group-item container-fluid frmHidden" *ngIf="!deleting" [class.frmShow]="transitionIn">
        <div class="col-md-6 pull-left">

        <dl class="dl-horizontal pull-left">
            <div>
                <small>Employer:</small>
            </div>
            <div class="text-capitalize">{{employer.name}}</div>
            <div>
                <small>Accessible by PT</small>
                <span *ngIf="employer.publicTransport === true" class="glyphicon glyphicon-ok"></span>
                <span *ngIf="employer.publicTransport === false" class="glyphicon glyphicon-remove"></span>
            </div>
        </dl>
    </div>
        <div *ngIf="!deleting" class="col-md-6 pull-left">
        <dl class="dl-horizontal pull-left">
            <div>
                <small>Roles within Company:</small>
            </div>
            <div *ngFor="let singlePosition of employer.positionsNeeded" class="text-capitalize">{{singlePosition}}
            </div>
            <div *ngIf="employer.doNotContact">
                <h4 style="color: darkred;">Do Not Call</h4>
            </div>
        </dl>


    </div>

    </li>
</a>


<div id="showContent{{employer._id}}" *ngIf="!deleting" class="collapse">


    <div class="well">

        <div class="row">
            <div class="col-md-12"><span class="pull-left"><div><small>Address:</small></div>
                    <div class="text-capitalize">{{employer.address.street}}</div><div class="text-capitalize">{{employer.address.suburb}}, {{employer.address.postcode}}</div></span><span
                    class="pull-right"><button
                    class="btn btn-default" (click)="attemptsRequested()">Show Marketing</button><button type="button"
                                                                                                         class="btn btn-default"
                                                                                                         (click)="editEmployer()">Edit Employer</button> </span>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12 "><span class="pull-left">
                <small>Contact Person:</small>

            <div class="text-capitalize">{{employer.contactPerson.name}}</div></span><span class="pull-right"><confirm-button
                    (clickConfirmed)="deleteEmployer()" [inputValue]="'Delete'">Remove Employer</confirm-button> </span>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <small>Phone Number:</small>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">{{employer.phoneNumber}}</div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <small>Notes:</small>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12"><p>{{employer.notes}}</p></div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <small>Date Added:</small>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">{{employer.dateAdded | date:"dd/MM/yyyy"}}</div>
        </div>


    </div>
    <div id="edit{{employer._id}}" class="well" *ngIf="editing">
        <employer-form [optionalModel]="employer" (employerCanceled)="editing=false;"
                       (employerSaved)="savedEmployer($event)"></employer-form>
    </div>
</div>


