<div class="container"><h1>{{title}}</h1>
<p>Welcome to {{title}}</p>
    <span>
<form name="dbsearch" class="form" action="/dbstart" method="get">
<button class="button" type="submit">Click Here</button>
</form>

    <form name="files2" action="/upload" method="post" class="form" id="files" enctype="multipart/form-data">
        <input type="file" id="data" name="data2">



       <button class="button" type="submit">Submit</button>
    </form>
</span>



</div>