<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h1>{{title}}</h1>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <p>Welcome to {{title}}</p>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <form name="dbsearch" action="/dbstart" method="get">
                <button class="btn btn-default" type="submit">List DB Items</button>
            </form>
        </div>
    </div>
    <div class="row"><br><br></div>
    <div class="row">
        <div class="col-md-3">
            <h1>
                {{filename}}
            </h1>
        </div>

    </div>

</div>