<div class="panel panel-default" xmlns="http://www.w3.org/1999/html">
    <div class="panel-heading">Employers</div>
    <div class="panel-heading">
        <button class="btn btn-primary" type="button" (click)="showAddForms()">Add Employer</button>
        <span style="float: right;"><label for="searchfilter">Search by</label>
        <span class="dropdown">
            <button class="btn btn-default dropdown-toggle text-capitalize" type="button" id="dropdownMenu1"
                    data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                {{searchType}}
                <span class="caret"></span>
            </button>
        <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
            <li><a (click)="setSearchType('suburb')">Suburb</a></li>
            <li><a (click)="setSearchType('name')">Name</a></li>
        </ul>
            </span>
        <input id="searchfilter" type="search" (keyup)="searchEmployers($event)">
        </span>
        <!--<button class="btn btn-default" type="button">Search</button>-->

    </div>

    <div class="panel-body" style=" height: 500px; overflow: scroll; overflow-x: hidden">
        <ul class="list-group">

            <employer-form *ngIf="showAddForm" id="empForm" (employerCanceled)="showAddForm = false;"
                           (employerSaved)="employerAdded($event)"></employer-form>

            <div [ngSwitch]="ready">
            <span *ngSwitchCase="true"><employer *ngFor="let employer of employers; let ndx = index"
                                                 [employer]="employer"
                                                 [seqNumber]="ndx+1"
                                                 (employerDeleted)="onEmployerDelete($event)"
                                                 [class.move]="!getMoveClass(employer._id)"
                                                 (applyMoveClass)="changeClass($event)"
                                                 #emp{{employer._id}} id="employ{{employer._id}}"></employer>
            </span><span *ngSwitchDefault class="container-fluid center-block"><img src="/public/loading.gif"></span>

            </div>
        </ul>
    </div>


</div>

<!---->