<div>
    <div class="{{classModal}}" tabindex="-1" role="dialog">
        <div id="myModal" class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                            aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title">Select a User</h4>
                </div>
                <div class="modal-body">
                    <span *ngFor="let consultant of consultants"><button class="btn btn-default"
                                                                         id="btn{{consultant._id}}"
                                                                         (click)="setSelectedConsultant(consultant._id)">{{consultant.name}}</button> </span>
                    <div class="form-group"><label for="pwd">Enter password: </label>
                        <input #pwd id="pwd" class="form-control" type="password">
                    </div>
                </div>
                <div class="modal-footer">
                    <a href="/" class="btn btn-default" data-dismiss="modal">Close</a>
                    <a class="btn btn-success" (click)="checkPassword(pwd.value)">Login</a>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->
</div>