<div class="panel panel-default" *ngIf="employer">
    <div class="panel-heading">Marketing Activity for <span class="text-capitalize">{{employer.name}}</span></div>
    <div class="panel-heading">
        <button class="btn btn-primary" type="button" (click)="showAddForms()">Add Marketing</button>
    </div>
    <div class="panel-body" style=" height: 500px; overflow: scroll; overflow-x: hidden">
        <ul class="list-group" [ngSwitch]="ready">
            <attempt-form *ngIf="showAddForm" id="attForm" (attemptCanceled)="hideAddForms()"
                          (attemptSaved)="attemptAdded($event)"></attempt-form>
            <span *ngSwitchCase="true">
            <attempt *ngFor="let attempt of attempts" [attempt]="attempt" (attemptDeleted)="onAttemptDelete($event)"
                     [class.move]="!getMoveClass(attempt._id)" id="att{{attempt._id}}"
                     (applyMoveClass)="changeClass($event)"></attempt></span>
            <div class="container center-block" *ngSwitchDefault><img src="/public/loading.gif"></div>
        </ul>
    </div>


</div>